<p>
  about-us works!
</p>


<H2>Our Rooms</H2>
Each room has a theme related to the local environment and wildlife.

<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="assets/images/image_thmb.png">
      <div class="roomcaption">
        <div class="roomname">One of three columns</div>
        <div class="roomdescription">A lovely room</div>
      </div>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
