<!--The content below is only a placeholder and can be replaced.-->
<div class="mx-3 home">
  <div class="d-flex justify-content-center">
    <h1>
      Welcome to The Greene House
    </h1>
  </div>

  <div class="description">
    <p>Enjoy your stay in our newly-built self-catering lodge.  It is furnished in a contemporary style with all modern conveniences and includes an ensuite downstairs master bedroom with amazing views of Lough Foyle, Donegal and Binevenagh (Area of Outstanding Natural Beauty).</p>

    <p>Located on the Foyle estuary with access to the Lough Foyle Trail, walks and cycle path. The estuary is a dedicated RAMSAR site and RSPB Reserve and home to the <a href="http://www.inchwildfowlreserve.ie/">Inch</a> & Foyle Wildfowl Project with Ballykelly Hide being an excellent spot for bird watching. The mudflats and surrounding areas are well-established wintering grounds for brent geese, whooper swans and other migratory birds.</p>

    <p>Less than 1 mile takes you to the village of Ballykelly, with supermarket, restaurant, hotel and a selection of tasty takeaways. Just 3 miles away, Limavady (of Danny Boy fame!) is a small market town where you can enjoy the cafes and the unique blend of family-owned independent shops.</p>

    <p>The Greene House is ideally located on the Causeway Coastal Route for those wanting to explore the beautiful and rugged North Coast and the historic city of Derry/Londonderry.</p>

  </div>
</div>
